.blog{
  .bold{ font-weight: bold; }
  .large{ font-weight:bold; font-size: 25px; }
  #navigation .nav_item{ margin-top: 50px; }
  #navigation .things{position: relative; top: -67px; }

  #main .section { margin-top: 50px;}

  #main .section#blog_city{
    .headline{
      text-align: left;
      margin-bottom: 40px;
      font-weight: bold;
      color: #3a87ad;
      width: auto;
      height: auto;
      background: none;
      font-size: 35px;
      padding-top: 0;
      .date{
        color: #afa9a5;
        font-size: 18px;
      }
    }
  }
  .nav_item .headline{ color: white; }


  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: $font-color;
  line-height: 1.6;
  font-size: 18px;

  #blog_home{
    font-size: 35px;
    .headline, .bracket{ color: white; }
    &:hover{ .headline, .bracket{ color: #3a87ad; }}
    .stuff{ padding-top: 85px; }
  }
  .ending{ margin-top: 20px; }
  .edit{ margin-top: 40px}
}

footer{
  width: 70%;
  margin: 80px auto 40px auto;
  text-align: left;
  .by{ font-weight: bold; font-size: 14px;}
  .subtext{color: #afa9a5; font-size: 12px;}
}
