.blog{
  #blognavigation{
    width: 25%;
    display: inline-block;
    vertical-align: top;
    margin-top: 50px;
    margin-right: 4%;
    text-align: center;
  }

  .bold{ font-weight: bold; }
  .thoughts{ margin-top: 20px; }
  .large{ font-weight:bold; font-size: 25px; }

  #main{
    width: 70%;
    float: none;
    .headline{ text-align: left; margin-bottom: 40px; }
  }

  .headline{
    font-weight: bold;
    color: #3a87ad;
    .date{
      color: #afa9a5;
      font-size: 18px;
    }
  }

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #423f3d;
  line-height: 1.6;
  font-size: 18px;

  #blog_home{
    font-size: 35px;
    .headline, .bracket{ color: white; }
    &:hover{ .headline, .bracket{ color: #3a87ad; }}
    .header{
      margin-top: 10px;
      background-color: #dcdcdc;
      width: 230px;
      height: 230px;
      border-radius: 230px;
    }
    .stuff{ padding-top: 85px; }
  }

  .ending{ margin-top: 20px; }
  .edit{ margin-top: 40px; margin-bottom: -20px;}
}

footer{
  width: 100%;
  margin: 30px 0 20px 0;
  text-align: right;
  .by{ font-weight: bold; font-size: 14px;}
  .subtext{color: #afa9a5; font-size: 12px;}
}
