#main{
  .section{margin-top: 80px; width: 70%; max-width: 700px; margin-left: auto; margin-right: auto; }

  .section .headline{
    font-weight: bold;
    font-size: 20px;
    height: 200px;
    width: 200px;
    background: rgba(0,0,0,0.6);
    border-radius: 100px;
    color: white;
    text-align: center;
    padding-top: 90px;
    box-sizing: border-box;
    margin: 0px auto 80px auto;
  }


  #about{

    .bold{ font-weight: bold; font-size: 13px;}
    .boldonly{ font-weight: bold; margin-top: 30px;}
    .content{margin-bottom: 50px;}
  }

  #mypic{
    display: inline-block;
  }

  #blog{
    .bold{ font-weight: bold; font-size: 13px;}
    .centerize{text-align: center;}
  }


  #contact {
    margin-bottom: 150px;
    .centerize{text-align: center;}
    .icon{
      display: inline-block;
      margin: 30px;
    }
  }


  #portfolio{
    width: 100%;
    max-width: none;
    .description{
      margin-bottom: 40px;
      width: 70%;
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      z-index: 9999;
      color: white;
      top: 120px;
      vertical-align: top;
      left: 15%;
    }

    .hidden {
      display: none
    }

    .pic{
      overflow: hidden;
      height: 300px;
      width: 90%;
      max-width: 1000px;
      margin: 0px auto 50px auto;
      .boverlay{background: rgba(0,0,0,0.4); position: absolute; left:0; top:0; width: 100%; height: 100%;}
      &:hover{ background: #faf9f4; opacity: 0.8; }
      position: relative;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      -webkit-transition: opacity 0.15s ease-out;
      -moz-transition: opacity 0.15s ease-out;
      -o-transition: opacity 0.15s ease-out;
      transition: opacity 0.15s ease-out;
      a{color: white;}
      img{
        background-size: cover;
        width: 100%;
        height: auto;
      }
    }

    .lead{ font-size: 25px; font-weight: bold;}
    .mytitle{ font-size: 15px; font-weight: bold; }
  }

}