#main{

  #about{
    .bold{ font-weight: bold; font-size: 13px;}
    .boldonly{ font-weight: bold; margin-top: 30px;}
    .content{margin-bottom: 50px;}
  }

  #mypic{
    display: inline-block;
  }

  #blog{
    .bold{ font-weight: bold; font-size: 13px;}
  }


  #contact {
    .icon{
      display: inline-block;
      margin: 30px;
      float: right;

    }
  }


  #portfolio{

    .description{
      margin-bottom: 40px;
      display: inline-block;
    }

    .hidden {
      display: none
    }

    .pic{
      overflow: hidden;
      height: 182px;
      margin-bottom: 20px;
      &:hover{ background: #faf9f4; opacity: 0.8; }
      position: relative;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      -webkit-transition: opacity 0.15s ease-out;
      -moz-transition: opacity 0.15s ease-out;
      -o-transition: opacity 0.15s ease-out;
      transition: opacity 0.15s ease-out;
    }

    .lead{ font-size: 25px; font-weight: bold;}
    .mytitle{ font-size: 15px; color: #969696; }
  }

}