@import "compass";

$link-color:         #0388a6;
$link-hover-color:   #009ce0;
$link-focus-color:   false;
$link-active-color:  false;
$link-visited-color: false;

$font-color:  #2a2a2a;
$font-family: sans-serif;
$base-font-size:   12px;
$base-line-height: 18px;

$total-cols: 12;
$col-width: 4em;
$gutter-width: 1em;
$side-gutter-width: $gutter-width;

@include global-reset;

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 25px;
  color: #444;
  width: 1000px;
  margin: 0 auto;
  padding: 50px 0 0 0;
}

.shadow {
  box-shadow: 0px 2px 5px #CCC;
  -webkit-box-shadow: 0px 2px 5px #CCC;
  -moz-box-shadow: 5px 2px 5px #CCC;
}

a {
  @include link-colors($link-color, $link-hover-color, $link-focus-color, $link-active-color, $link-visited-color);
}

p{
  margin-bottom: 20px;
}
  
h3 {
  font-size: 15px;
  line-height: 15px;
  margin-top: 20px;
}

@import "navigation.css.scss";
@import "main.css.scss";