#404.section
  .headline.light
    Not Found

  .content
    %p
      Great Odin's Raven!
    %p
      So while I have you, we might as well talk some. Not sure how you got here, but if it was something other than just typing gibberish in the url and hoping for the best, let me know?
    %p
      That being said... 404 not found!