

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 19px;
    min-width: 700px;
    -webkit-font-smoothing: antialiased !important;
    max-width: 800px;
    margin: 50px auto 0 auto;
}
#things{font-size: 15px;}

.textcenter{text-align: center;}
#top_title{margin-top: 40px; margin-bottom: 10px; font-size: 20px;}
.headline{ font-size: 30px; font-weight: bold;}
.bracket{font-size: 30px;}

a{
  -webkit-font-smoothing: antialiased !important;
  text-transform: none;
  color: #0388a6;
  text-decoration: none;
}

a:hover {
  color: #009ce0;
}

.bpost{margin-bottom: 50px;}
img{ border-radius: 50%; width: 75px; }
.icon{display: inline-block; vertical-align: top;}
.r30{margin-right: 30px;}

.lside{margin-top: 70px; }
.rside{margin-top: 60px; }


#fourohfour{
  font-size: 60px;
  margin-top: 30px;
}

.homelink{ color: black; }


