#home
  .headline.light
    building quality custom web products

  .content
    %p
      Frausto LLC is a small single member company that specializes in building out custom web applications for clients.
    %p
      I created the company in order to provide programming and technical consulting services for websites in any stage of the development process. I follow <a href="http://agilemanifesto.org/" target="_blank">Agile</a> best practices, and believe in delivering quality code in a timely manner.
    %p
      Primarily working on Ruby on Rails projects in the New York City area, I am dedicated to delivering reliable, manageable, scalable, and well designed web products.
