#home
  .headline
    About a web developer

  .content 
    %p
      Yo, I'm Nolan. I founded Frausto LLC in 2012, in order to make it easier to freelance for both my clients and myself.
    %p
      I am a web developer in the New York City area, who enjoys good code, climbing, museums, and possibly some other stuff. I graduated from the University of Chicago in Economics and Computer Science, and have been building websites ever since. 
    %p
      I work primarily in Ruby and Rails, though Scala is looking mighty interesting these days.