#about
  .headline
    About a web developer

  .content 
    %p
      Hello, I'm Nolan. I founded Frausto LLC in 2012, in order to make it easier to offer my consulting services to clients. After having worked at <a href="http://thoughtworks.com" target="_blank">ThoughtWorks</a> as a web developer for a few years, I decided to settle down in New York.
    %p
      I am a full stack developer, meaning I develop end to end: backend, frontend, devops, databases, javascript, and whatever else I can get my hands on really. These days I primarily code in Ruby (having done work in C and Java in the past).
    %p
      What it comes down to is that I am just a guy who likes coding. I am a web developer in the New York City area who enjoys climbing, museums, and good beer.
    %p
      That would be me on the left over there in front of some rocks.
    %p
      .boldonly Thoughts and stuff
    %p
      To get to know me better check out below for a small collection of my thoughts on coding, life, and possibly some other things.
    %p
      .bold 26 November 2013
      =link_to "Outsourcing Impossible", "/blog/outsourcing_impossible"
    %p
      .bold 05 September 2013
      =link_to "The Code Culture Problem", "/blog/shit_code"

