#about
  .headline
    About a web developer

  .content 
    %p
      Yo, I'm Nolan. I founded Frausto LLC in 2012, in order to make it easier to freelance for both my clients and myself.
    %p
      I am a web developer in the New York City area. I graduated from the University of Chicago in Economics and Computer Science, and have been building websites ever since. I work primarily in Ruby and Rails, though Scala is looking mighty interesting these days.
    %p
      I enjoy good code, climbing, museums, and all varieties of food. I'm watching both Game of Thrones and Breaking Bad at the moment, and because of this I seem to have very little free time lately. 