#home
  .headline
    About a web developer

  .content 
    %p
      Hey. My name is Nolan Frausto. I am a web developer in New York City. I graduated from the University of Chicago in Economics and Computer Science, and have been building websites ever since. I work primarily in Ruby and Rails, though Scala is looking mighty interesting these days.