#blog
  .headline Thoughts and stuff

  %p Below is a short collection of my thoughts on coding, life, and possibly some other things.

  %p
    .bold 05 September 2013
    =link_to "The code culture problem", "/blog/shit_code"

