#about
  .headline.light
    Blog city

  .content
    %p
      To get to know me better check out below for a small collection of my thoughts on coding, life, and possibly some other things.
    %p

      =link_to "The Code Culture Problem", "/blog/shit_code"
      .bold 05 September 2013
    %p

      =link_to "Outsourcing Impossible", "/blog/outsourcing_impossible"
      .bold 26 November 2013
    %p

      =link_to "Finally. Clippy for Chrome!", "/blog/clippy_two"
      .bold 05 June 2014
    %p

      =link_to "The Tech Interview Problem", "/blog/interview_fun"
      .bold 04 August 2014