#blog
  .headline
    Blog?

  .content 
    .header
      Hello World
      %span.small 2012-06-30

    %p
      First Blog Post! So for this first post I figure I'll just quickly go over what I intend this blog to be about.

    %p
      Essentially, this will just be a collection of my thoughts on whatever I happen to be doing at the moment. It will generally focus around technology and business, but really it will be whatever I feel like writing about, because lets face it maybe five people will ever read it.

    %p
      Anyway, thanks for reading. And hello world!