#home
  .headline
    Building custom websites and stuff 

  .content 
    %p
      Frausto LLC specializes in building out custom web applications for clients working on both front end and the back end development. It is run and operated by Nolan Frausto (me!). I follow <a href="http://agilemanifesto.org/" >Agile</a> best practices, and believe in delivering quality code in a timely manner. 

    %p
      I primarily work on Ruby on Rails Projects in the New York City area, that being said I am always looking to explore and develop in new technologies.