#portfolio
  .headline
    A few project examples

  .content 
    .champd
      .pic=link_to image_tag("champd.png"), "http://champd.com", :target => '_blank', :class => 'preview'
      .description
        <span class='lead'>Champd</span> <span class='mytitle'>{founder / lead developer}</span> lets you find people around you to play against in the game or sport of your choosing. We keep track of all your wins and losses, and let you search for people of similar skill levels. That's right, you're welcome.

    .bgov
      .pic= link_to image_tag("bgov.png"), "http://bgov.com" , :target => '_blank', :class => 'preview'
      .description
        <span class='lead'>Bgov</span> <span class='mytitle'>{senior developer}</span> is a <a href="http://rubyonrails.org/" target='_blank'>Rails</a> app run by <a href="http://en.wikipedia.org/wiki/Bloomberg_L.P." target='_blank'>Bloomberg</a> dedicated to organizing government data including but not limited to news, grants, contracts, congressional staff, federal regulation, etc...

    .zearn
      .pic= link_to image_tag("zearn.png"), "http://zearn.com" , :target => '_blank', :class => 'preview'
      .description
        <span class='lead'>Zearn</span> <span class='mytitle'>{developer consultant}</span> was designed by teachers for teachers in order to engage kids with joyful learning experiences, ensure students master basic and advanced <a href='http://www.corestandards.org/' target='_blank'>Common Core skills</a>, and let teachers provide targeted individual or small group instruction.

    .diobox
      .pic= link_to image_tag("diobox.png"), "http://diobox.com" , :target => '_blank', :class => 'preview'
      .description
        <span class='lead'>Diobox</span> <span class='mytitle'>{lead developer}</span> the most advanced platform for managing events and people.
