.headline
  Finally, Clippy for Chrome!
  .date 05 June 2014

%p
  %span.bold Have you ever been browsing the web
  and thought to yourself: "This is too easy and completely not something I need help with... If only I had Clippy while browsing the web to try to help me!"

%p
  Neither have I. But <a href="https://chrome.google.com/webstore/detail/clippy-2-revenge-of-the-c/ioideobcfemcedhabcggofbnbbmoahfn" target="_blank">here it is anyway.</a>

%p
  %ul
    %li * Does clippy do anything useful? No.
    %li * Is it condescending for no reason? Yes.
    %li * Is the plugin performant or optimized in any way? Of course not.
    %li * Will it possibly crash your browser and cause things to break. Almost certainly.

%p
  Finally, Clippy for chrome!

%p.large
  Lets backtrack

%p
  The year was almost probably 2012. The month... well it was coldish.
%p
  I was being worldly and making my way through Berlin, a wonderful city full of coffee and parks.
  The javascript conference JSConf EU was going on at the time, and I figured I should attend. One thing led to another and I found myself doing what developers do at conferences: talking about code and drinking.

%p
  Long story short, Clippy came up (as it is wont to do) and in the state I was in I thought it would be a great idea to make Clippy for the web. Thus was born Clippy 2.0 Revenge of the Clip.

%p
  So I set at it. I quickly found <a href="https://www.smore.com/clippy-js"  target="_blank">clippy.js</a>, a project made by the fine people at <a href="http://www.smore.com/" target="_blank">Smore</a>, which I went and hacked up for the extension.
  In my free time over the next day or two I worked on it while I continued on my travels.

%p
  Then I forgot about it.

%p
  Coming across it recently, I decided to go ahead and put it out there in its current sad state. And here's where it hopefully gets fun.

%p.large
  I need you!!

%p
  <a href="https://github.com/frausto/clippy_revenge" target="_blank">Go to the github page</a> and check out the code!

%p
  Over the next several days I'll be actively looking for your pull requests. Right now Clippy 2 is a mess, clearly it could be better in so many ways (functionality, code, etc..).

%p
  I'll be merging in your contributions, and then when the time is right republish the extension with your contributions included. Will it actually be helpful? Will Clippy continue to be an asshole?

%p
  Lets make clippy the best (or worst?) it can be!
